* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #645774;
  margin: 0;
  font-family: "Suez One", serif;
}

header,
footer {
  padding: 20px;
  background-color: #645774;
  color: white;
  text-align: center;
}
